body {
    font-family: "Open Sans";

}

header {
    margin-bottom: 1rem;
    padding: 5rem 0;
    color: hsl(0, 0%, 0%);
    text-align: center;
}

header h1 {
    font-weight: 50;
    font-size: 6rem;
    font-stretch: semi-condensed;
}

.content-width {
    max-width: 70ch;
    width: calc(100% - 4rem);
    margin: 0 auto;
  }

.frame img{
    display:block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    padding: 2rem 0;
    width: 800px;
}

  main {
    margin-bottom: 4rem;
  }


  h1, h2, h3 {
    margin: 0;
    line-height: 1.5;
  }

  h2, h3 {
    color: hsl(0, 0%, 0%)
  }

  h1 {
    font-size: 3rem;
    font-weight: 100;

  }

  h2 {
    font-size: 2rem;
    font-weight: 200;

  }

  h3 {
    font-size: 1.75rem;
    font-weight: 100;

  }

  p {
    font-size: 1.25rem;

  }